body {
  font-family: 'Roboto', sans-serif;
  background-color: #fefefe;
}
  
.titulo-principal {
  font-size: 2.8rem;
  font-weight: bold;
  color: #222;
}
  
.subtitulo {
  font-size: 1.1rem;
  color: #666;
  margin-top: 10px;
}
  
.icono {
  font-size: 80px;
  color: #ff6600;
  margin-bottom: 15px;
  display: inline-block;
}
  
.titulo {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
p {
  font-size: 1rem;
  color: #333;
}

footer p {
  color: white !important;
}
  